<!DOCTYPE html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - KEVIN</title>
    <link href="assets/img/apple-touch-icon/57x57.png" rel="apple-touch-icon" sizes="57x57">
		<link href="assets/img/apple-touch-icon/72x72.png" rel="apple-touch-icon" sizes="72x72">
		<link href="assets/img/apple-touch-icon/60x60.png" rel="apple-touch-icon" sizes="60x60">
		<link href="assets/img/apple-touch-icon/76x76.png" rel="apple-touch-icon" sizes="76x76">
		<link href="assets/img/favicon/96x96.png" rel="icon" sizes="96x96" type="image/png">
		<link href="assets/img/favicon/16x16.png" rel="icon" sizes="16x16" type="image/png">
		<link href="assets/img/favicon/32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link rel="stylesheet" href="assets/fonts/Lato.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css?h=9db842b3dc3336737559eb4abc0f1b3d">
    <link rel="stylesheet" href="assets/fonts/material-icons.min.css?h=9db842b3dc3336737559eb4abc0f1b3d">
   <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css?h=9db842b3dc3336737559eb4abc0f1b3d">
  </head>
  <body>
    <noscript>
      <h2>Kevin requires Javascript for obvious reasons...</h2>
    </noscript>
    <div id="app"></div>
  </body>
</html>
